* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100%;
  display: flex;
  font-family: "consolas";
}
.left_Side {
  flex: 4;
  width: 100%;
  background-color: rgb(42, 64, 105);
  color: white;
  box-shadow: #ccc 10px 0 20px;
}

.profileText {
  width: 100%;
  padding: 10px;
}

.imgBx {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.imgBx > img {
  width: 200px;
  height: 220px;
  object-fit: cover;
  border-radius: 50%;
}
.profileText > h2 {
  text-align: center;
}

.profileText span {
  color: aqua;
  font-size: 1rem;
}

.contactInfo {
  padding: 5px 10px;
  width: 100%;
  margin-bottom: 30px;
}

.contactInfo .title {
  color: aqua;
}

.border {
  border: solid 1px aqua;
  margin: 2px 0;
}

.contactInfo ul {
  padding: 20px;
}

.contactInfo ul li {
  list-style: none;
  padding: 5px 0;
}

.contactInfo ul li .icon {
  color: aqua;
}

.link2 {
  text-decoration: none;
  color: white;
}

.education ul li {
  padding: 5px 0;
}

.education h5 {
  color: aqua;
}
.education h5,
.education h4 {
  padding: 2px 0;
}
.education h4:last-child {
  color: #1e90ff;
}
.language {
  margin-bottom: 20px;
  padding: 10px;
}

.language ul {
  padding: 5px 20px;
}
.language ul li {
  list-style: none;
  padding: 3px 0;
}

.language .title {
  color: aqua;
}

.language ul li .percent {
  background-color: black;
  display: block;
}

.language ul li .percent div {
  background-color: aqua;
  display: block;
  border: 5px solid aqua;
  border-radius: 30px;
  margin-top: 5px;
}
.right_Side {
  flex: 8;
  width: 100%;
}

.border2 {
  border: solid 1px rgb(42, 64, 105);
  background-color: rgb(42, 64, 105);
  height: 5px;
  margin: 2px 0;
}
.about {
  box-shadow: #ccc 10px 0 10px;
  margin: 0;
  padding: 20px;
}
.about p {
  padding: 20px;
}
.about span {
  color: blue;
}
.skills {
  text-transform: uppercase;
  box-shadow: #ccc 10px 0 10px;
}

.skills .box {
  display: flex;
  padding: 10px 0;
}

.skills .box h4 {
  text-align: center;
  flex: 4;
}

.skills .box .percent {
  background-color: #ddd;
  flex: 8;
  border-radius: 10px;
}

.skills .box .percent div {
  background-color: cornflowerblue;
  display: block;
  height: 9px;
  border-radius: 10px;
}

.interest {
  box-shadow: #ccc 10px 0 10px;
  padding: 20px;
}

.interest ul {
  padding: 10px;
}

.interest ul li {
  list-style: none;
  text-decoration: none;
  padding: 5px 0;
}

.pr {
  text-decoration: none;
  color: blue;
}

.pr span {
  color: green;
}

.ittech {
  padding: 5px 0;
  text-align: center;
  color: blue;
}

/* galeriya */
div.gallery {
  border: 1px solid #ccc;
  box-shadow: 5px 0 5px #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

.responsive {
  padding: 10px 20px;
  width: 32%;
}

.pictures {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.picblock {
  display: flex;
}

.download {
  position: fixed;
  bottom: 20px;
  right: 5px;
  text-decoration: none;
}

.download span {
  font-size: 15px;
  background-color: #1e90ff;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

@media only screen and (max-width: 600px) {
  body {
    flex-direction: column;
    width: 100%;
  }
  .left_Side {
    width: 100%;
    padding-bottom: 20px;
  }
  .right_Side {
    width: 100%;
  }
  .picblock {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 700px) {
  .responsive {
    padding: 5px;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}
